<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.navigation.mapper.ScenicReservationMapper">

   <!-- <insert id="save" parameterType="com.navigation.entity.scenic" useGeneratedKeys="true" keyProperty="id">
        insert into scenic (scenic_name, scenic_cover, location, scenic_description, max_capacity, open_start_time, open_end_time)
        values (#{scenicName}, #{scenicCover}, #{location}, #{scenicDescription},
        #{maxCapacity}, #{openStartTime}, #{openEndTime})
    </insert>-->


    <update id="update" parameterType="com.navigation.entity.ScenicReservation">
        UPDATE scenic_reservation
        <set>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="scenicId != null">scenic_id = #{scenicId},</if>
            <if test="reservationDate != null">reservation_date = #{reservationDate},</if>
            <if test="peopleCount != null">people_count = #{peopleCount},</if>
            <if test="isCongested != null">is_congested = #{isCongested},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE reservation_id = #{reservationId}
    </update>

    <delete id="batchDelete">
        DELETE FROM scenic_reservation
        WHERE reservation_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
